name: Go
on:
  push:
    branches: [ main ]

jobs:
  vendoring:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/setup-go@v6
        with:
          go-version: '1.24.7'
      - uses: actions/checkout@v6
      - run: |
          go mod tidy
          go mod vendor
          go mod verify
          bash ./hack/tree_status.sh

  golangci-lint:
    runs-on: ubuntu-latest
    container:
      image: fedora:latest
    steps:
      - uses: actions/setup-go@v6
        with:
          go-version: '1.24.7'
      - uses: actions/checkout@v6
      - run: |
          bash hack/install_dep.sh
          make .install.golangci-lint
          make lint

  unit_test:
    runs-on: ubuntu-latest
    container:
      image: fedora:latest
    steps:
      - uses: actions/checkout@v6
      - run: |
          # Preparing and running unit tests #
          dnf -y install git-core golang glibc-static git-core wget gcc make
          bash ./hack/install_dep.sh
          export GOBIN=$(pwd)/bin/
          make .install.ginkgo
          make test-unit

      - name: Upload coverage reports to Codecov
        uses: codecov/codecov-action@v3
        with:
          file: .coverage/coverprofile
          token: ${{ secrets.CODECOV_TOKEN }}
          name: codecov-umbrella
          slug: navidys/podman-tui
          fail_ci_if_error: true

  build_binaries:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/setup-go@v6
        with:
          go-version: '1.24.7'
      - uses: actions/checkout@v6
      - run: |
          make all
