name: validation
on:
  pull_request:

jobs:
  pre-commit:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v4
      - uses: pre-commit/action@v3.0.0

  DCO-check:
    runs-on: ubuntu-latest
    steps:
      - name: get pr commits
        id: 'get-pr-commits'
        uses: tim-actions/get-pr-commits@v1.2.0
        with:
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: DCO check
        uses: tim-actions/dco@master
        with:
          commits: ${{ steps.get-pr-commits.outputs.commits }}

      - name: check subject line length
        uses: tim-actions/commit-message-checker-with-regex@v0.3.1
        with:
          commits: ${{ steps.get-pr-commits.outputs.commits }}
          pattern: '^.{0,72}(\n.*)*$'
          error: 'Subject too long (max 72)'

  codespell:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: codespell-project/actions-codespell@master
        with:
          check_filenames: true
          skip: ./.git,./vendor,*_test.go,go.sum,go.mod

  vendoring:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/setup-go@v3
        with:
          go-version: '1.18.8'
      - uses: actions/checkout@v3
      - run: |
          go mod tidy
          go mod vendor
          go mod verify
          bash ./hack/tree_status.sh

  golangci-lint:
    runs-on: ubuntu-latest
    container:
      image: fedora:latest
    steps:
      - uses: actions/setup-go@v3
        with:
          go-version: '1.18.8'
      - uses: actions/checkout@v3
      - run: |
          bash hack/install_dep.sh
          make .install.golangci-lint
          make lint

  unit_test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/setup-go@v3
        with:
          go-version: '1.18.8'
      - uses: actions/checkout@v3
      - run: |
          sudo apt-get update
          sudo apt-get install libgpgme-dev libbtrfs-dev libdevmapper-dev libassuan-dev pkg-config -y
          export GOBIN=$(pwd)/bin/
          make .install.ginkgo
          make test-unit

  build_binaries:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/setup-go@v3
        with:
          go-version: '1.18.8'
      - uses: actions/checkout@v3
      - run: |
          make all

  build_rpm:
    runs-on: ubuntu-latest
    container:
      image: fedora:latest
    steps:
      - run: |
          dnf -y install git-core
          git clone https://github.com/${GITHUB_REPOSITORY}.git
          cd podman-tui
          PR_HEAD=$(echo ${GITHUB_REF} | sed 's/merge/head/g')
          git pull origin ${PR_HEAD}
          bash ./hack/install_dep.sh
          make package
          rpm -ivh /tmp/rpkg/podman-tui-*/x86_64/podman-tui-*.x86_64.rpm
          rpm -qi podman-tui

  goreportcard:
    name: update reportcard
    if: github.event.pull_request.merged == true
    runs-on: ubuntu-latest
    steps:
      - uses: creekorful/goreportcard-action@v1.0
